{
  "presets": ["react", "es2015" , "stage-2"],
  "plugins": [
    "dynamic-import-node",
    "syntax-dynamic-import",
    ["babel-plugin-webpack-alias", {"config": "${PWD}/config/aliases/aliases.config.js"}],
    "transform-decorators-legacy",
    "transform-runtime",
    "react-imported-component/babel"
  ]
}

